.siteFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f3f4f6;
  letter-spacing: 0.05em;
  font-weight: 100;
  font-size: 2rem;
  padding: 5px 0;
}

@font-face {
  font-family: 'Felipa';
  src: url('../assets/fonts/Felipa-Regular.ttf') format('truetype');
  font-weight: 100px;
  font-style: normal;
}

.fontBrattzynha {
  font-family: 'Felipa', cursive;
}
